html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  
}

* {
  box-sizing: border-box;
}

.row {
  width: 75%;
  margin: auto;
  background-color: white;
}

.userrow {
  width: 90%;
  margin: auto;
}

body {
  font-family: Arial;
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.image {
  margin-top: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.header h1 {
  font-size: 50px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  background-color: white;
  width: 50%;
  height: 100%;
  margin: auto;
}

.login {
  background-color: white;
  height: 100%;
  width: 90%;
  padding-left: 20%;
  padding-top: 20%;
}

input[type="text"] {
  width: 73%;
}

input[type="password"] {
  width: 73%;
}
/* Right column */
.rightcolumn {
  width: 500px;
  height: 600px;
  background-color: #f1f1f1;
}

#my_name{
  float: right;
  margin-right: 50px;
}


.photocard {
  height: 200px;
  width: 200px;
  margin: auto;
}

.add_course {
  width:31%;
  float: left;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 8px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

#courses{
  background-color:#E52B50;
  color: white;
  margin-bottom: 10px;
}

#courseName{
  text-align: center;
  background-color:#E52B50;
}

.join{
  background-color:#E52B50;
  color: white;
  width: 20%;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px
}

.remove{
  background-color:#E52B50;
  color: white;
  width: 20%;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px
}

.messaging {
  position: relative;
  height: 300px;
  width: 31%;
  float: right;
}

.messagingBox {
  position: relative;
  font-size: 0.8rem;
  font-weight: 30;
  width: 100%;
  height: 70%;
  float: right;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
}

.studentList {
  position: relative;
  width: 100%;
  height: 70%;
  float: right;
  overflow-y: scroll;
  background-color: white;
  align-items: flex-end;
}

.courseNme {
  background-color: #E52B50;
  padding: 14px 11px;
  text-align: center;
  color: #ddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li a:focus {
  background-color: #E52B50;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

#loginContainer {
  height: 600px;
  margin: 20px;
  background-color: ghostwhite;
}

.loginImage {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url(/static/img/view.jpg);
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;  
  background-color: ghostwhite;
}

.loginImageRight{
  width: 50%;
  height: 100%;
  float: right;
  background-image: url(/static/img/view.jpg);
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
  background-color: ghostwhite;
  display: none; 
}

.ee{
  width: 50%;
  height: 100%;
  float: right;
  background-color: black;
  display: none; 
}

#loginForm {
  width: 50%;
  float: right;
  height: 100%;
  background-color: ghostwhite;
}

.formContainer {
  text-align: center;
  margin: 38% 0px 38% 0px;
}

.signupFormContainer {
  text-align: center;
}

input#mail, input#pass, input#firstName, input#lastName, input#address, input#postalCode{
  width: 35%;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 4px
}


input#signin {
  width: 70%;
  height: 42px;
  background-color: #E52B50;
  border-width: thin;
  color: ghostwhite;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input#signup {
  width: 40%;
  height: 42px;
  background-color: #E52B50;
  border-width: thin;
  color: ghostwhite;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.banner {
  font-size: 150%;
  margin: 5px;
}

.signUp {
  position: absolute;
  width: 50%;
  bottom: 45px;
} 

.return {
  position: left;
  width: 50%;
  bottom: 45px;
  display: none;
  color: #E52B50;
  cursor: pointer;
} 


.signUp a {
  color: #E52B50;
  text-decoration: none;
}

.attn {
  display: none;
}

.signUpForm{
  display: none;
  width: 50%;
  height: 100%;
  float: left;
  background-color: ghostwhite;
}

#noAccount{
  color: #E52B50;
  display: inline;
  cursor: pointer;
}

#profile {
  width: 25%;
  height: 100%;
  float: left;
}

#menu {
  width: 70%;
  float: right;
  align-items: stretch;
}

.profiePicture {
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 20px;
}

#imageHolder{
  margin: 8% 12% 8% 12%;
}

#features {
  margin: 18% 12% 18% 12%;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 1px;
}

#imageHolder img{
  width: 200px;
  height: 200px;
}

.nom {
  font-size: medium;
}

.showMessages {
  width: 70%;
  float: right;
  margin-bottom: 25px;
  background-color: #E52B50;
  color: ghostwhite;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 4px
}

.uploadPic {
  width: 70%;
  margin-right: 3%;
  float: left;
  margin-bottom: 25px;
  background-color: #E52B50;
  color: ghostwhite;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 4px
}

.calendar {
  width: 70%;
  margin-right: 3%;
  float: left;
  margin-bottom: 25px;
  background-color: #E52B50;
  color: ghostwhite;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 4px
}

.lifestyle {
  width: 70%;
  float: right;
  margin-bottom: 25px; 
  background-color: #E52B50;
  color: ghostwhite;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 4px
}

.myVideos, .add {
  width: 70%;
  background-color: #E52B50;
  color: ghostwhite;
  display: inline;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 4px
}

.signout {
  width: 70%;
  background-color: #E52B50;
  color: ghostwhite;
  display: inline;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border-radius: 4px
}

.uploadDiv {
  text-align: center;
  display: none;
}

.messageDiv{
  display: none;
  width: 50%;
  float: left;
  margin-right: 5px;
  height: 100%;
  flex-direction: column-reverse;
}

.add_course {
  width: 45%;
  float: left;
  margin: 2px;
  display: none;
}

.signout a {
  text-decoration: none;
  color: white;
}

input.message {
  width: 78%;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 4px
}

#txt_1{
  width: 60%;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 4px
}
input#send{
  width: 20%;
  height: 42px;
  background-color: #E52B50;
  border-width: thin;
  color: ghostwhite;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}