<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Sign in</title>
</head>
<body>
    <div id="loginContainer">
        <div class="loginImage"></div>
        <div class="signUpForm">
          <form action="/user_signup" method="POST">
            <div class="signupFormContainer">
              <p>First Name</p>
              <input type="text" name="firstName" id="firstName" required /><br />
              <p>Last Name</p>
              <input type="text" name="lastName" id="lastName" required /><br />
              <p>Email</p>
              <input type="text" name="email" id="mail" required /><br />
              <p>Address</p>
              <input type="text" name="address" id="address" required /><br />
              <p>Postal Code</p>
              <input type="text" name="postalCode" id="postalCode" required /><br />
              <p>Password</p>
              <input type="password" name="password" id="pass" required /><br />
              <p></p>
              <input type="submit" id="signup" value="Register" onclick="fillCourse()" />
            </div>
          </form>
          <div class="return">Go back</div>
        </div>
        <div class="loginImageRight"></div>
        <div id="loginForm">
            <form action="/user", method="POST">
                <div class="formContainer">
                    <div class="banner">LOGIN</div>
                    <div class="attn">{{error}}</div>
                    <input type="text" name="email" id="mail" placeholder="Email..." required /><!--
                    --><input type="Password" name="password" id="pass" placeholder="Password..." required /><br />
                    <input type="submit" id="signin" value="Sign in" onclick="fillCourse()" />
                    <div class="signUp">Don't have an account yet? <div id="noAccount">SIGN UP</div></div>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
                    <script type="text/javascript"  charset="utf-8">
                      var error_message = "{{error}}";
                    </script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
                    <script type="text/javascript"
                      src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
                    <script type="text/javascript"
                      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
                    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
                      type="text/css" />
                    <script type="text/javascript" src="/static/index.js"></script>
                </div>
            </form>
        </div>
    </div>
</body>
</html>