<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>Study Mate</title>
</head>
<body>
  <div class="container">
      <div id="profile">
          <div id="imageHolder">
              <img src="data:;base64,{{ image }}" class='profiePicture'>
              <div class="uploadDiv">
                <form method="post" action="/profile/{{info[0]}}/upload" enctype="multipart/form-data">
                  <div id="uploader">
                    <dl>
                      <p>
                        <input type="file" name="file" autocomplete="off" required>
                      </p>
                    </dl>
                    <p>
                      <input type="submit" value="Submit">
                    </p>
                  </div>
                </form>
            </div>
          </div>
          <div id="features">
              <div class="uploadPic"> Change Pic </div>
              <div class="showMessages"> Messages </div>
              <div class="calendar"> Calendar </div>
              <div class="lifestyle"> LifeStyle </div>
              <div class="myVideos"> My Videos </div>
              <div class="signout"> <a href="{{ url_for('logout',email=info[0]) }}"> Sign Out </a></div>
          </div>
      </div>
      <div id="menu">
          <div class="messageDiv">
              <div class="courseNme"><p id='messageCourseName'></p></div>
              <div class="messageNavBar">
              <ul>
                  <li><a id="active" href="#home">Messages</a></li>
                  <li><a id="member" href="#members">Course Members</a></li>
              </ul>
              </div>
              <div class="messagingBox"></div>
              <div class="studentList"></div>
              <form action="" method="POST" id="messageForm">
                <input type="text" placeholder="Messages" class="message" />
                <input type="submit" id="send" value="Send"/>
              </form>
            </div>
              <div class="add_course">
                  <div class='element' id='div_1'>
                  <input type='text' placeholder='Enter a Course' id='txt_1'>&nbsp;<div class='add'>Add Course</div>
                  </div>
              </div>
      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script type="text/javascript" charset="utf-8">
    let email = '{{info[0]}}';
    let pic_link = '{{picture}}';
    let nom = '{{info[1]}}';
    var courseList = '{{ info[2]|tojson }}';
    var pp = "data:;base64,{{ image }}";
  </script>
  <script type="text/javascript" src="/static/index.js"></script>

</body>

</html>